.main {
    overflow: hidden;
}
/* Navbar */
.header__navbar {
    height: 46px;
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    font-size: 1.3rem;
}

.header__navbar a {
    text-decoration: none;
    line-height: 46px;
    color: var(--white-color);
}

.header__navbar-info i {
    color: var(--primary-color);
    position: relative;
    top: 2px;
    padding: 0 10px 0 20px;
    font-size: 1.4rem;
}

.header__navbar-social {
    display: flex;
}
/* List down Mobile + Tablet */
.header__navbar-social-menu-list {
    color: var(--black-color);
    list-style: none;
    position: fixed;
    padding: 0;
    margin: 0 35px;
    left: 0;
    top: 69px;
    right: 0;
    max-height: 350px;
    display: none;
    flex-direction: column;
    background-color: var(--white-color);
    cursor: pointer;
    animation: FadeIn linear 0.2s;
    overflow-y: auto;
}

.header__navbar-social-menu-list::-webkit-scrollbar {
    display: none;
}

.header__navbar-social-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 42px;
    border-bottom: 1px solid rgb(221, 221, 221);
    font-size: 1.6rem;
    font-weight: 600;
}

.header__navbar-social-menu-item:hover {
    color: var(--primary-color);
    transition: all 0.2s linear;
}

.header__navbar-social-menu-item-name{

}

.header__navbar-social-menu-item-icon{

}

/* List down Mobile + Tablet */

.header__navbar-social-menu-mobile {
    color: var(--white-color);
    font-size: 1.8rem;
    width: 46px;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__navbar-social-logo-mobile {
    display: none;
    align-items: center;
}

.header__navbar-social-logo-mobile img {
    width: 115px;
}


.header__navbar-social-network a {
    margin-left: 10px;
}

.header__navbar-social-info {
    margin-left: 36px;
    display: flex;
}

.header__navbar-language {
    width: 140px;
    background-color: #3abdc1;
    text-align: center;
}

.header__navbar-language i {
    font-size: 1rem;
    position: relative;
    top: -1px;
}

.header__navbar-login {
    width: 46px;
    background-color: var(--primary-color);
    text-align: center;
}

.header__navbar-login i {
    font-size: 1.6rem;
    position: relative;
    top: 2px;
}

.footer a:hover,
.setsail__lettering-item-list-drop-item:hover i,
.header__navbar-info a:hover,
.setsail__lettering-item span:hover,
.header__navbar-social-network a:hover {
    color: var(--primary-color);
    transition: all 0.2s linear;
}

.header__navbar-language-list {
    list-style: none;
    background-color: var(--primary-color);
    height: 138px;
    color: var(--white-color);
    margin: 0;
    padding-left: 40px;
    display: none;
    flex-direction: column;
   /* Lack-transition */
}

.header__navbar-language:hover .header__navbar-language-list {
    display: flex;
}

.header__navbar-language-item {
    padding: 0;
    margin: auto auto auto 0;
    cursor: pointer;
}

.header__navbar-language-item::before {
    position: relative;
    top: calc(100% - 2px);
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--white-color);
    transition: width 0.2s linear;
}

.header__navbar-language-item:hover:before {
    width: 100%;
}


/* Navbar */

/* setsail  */
.setsail  {
    margin: 50px 100px 100px;
}

.setsail__lettering {
    text-align: center;
}

.setsail__logo-img{
    width: 250px;
}

.setsail__lettering-list {
    display: flex;
    justify-content: center;
    margin: 0 100px;
    padding: 0;
    list-style: none;
}

.setsail__lettering-item {
    position: relative;
    font-size: 1.5rem;
    line-height:82px;
    flex: 1;
    font-weight: 600;
}

.setsail__lettering-item span {
    cursor: pointer;
    position: relative;
}

.setsail__photo {
    display: flex;
    justify-content: space-between;
}

.setsail__photo-left {
    max-width: var(--height-img-background-left);
}

.setsail__photo-right {
    max-width: var(--height-img-background-right);
}

.setsail__lettering-item--active,
.setsail__lettering-item-list--action {
    color: var(--primary-color);
}

.setsail__lettering-item span::before {
    content: "";
    position: absolute;
    top: 100%;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    transition: width 0.2s linear;
} 

.setsail__lettering-item span:hover:before {
    width: 100%;
}


/* hover drop */
.setsail__lettering-item-list {
    position: absolute;
    display: flex;
    background-color: var(--white-color);
    top: 100%;
    left: 0;
    width: 200%;
    display: none;
    /* Lack transition */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
 .setsail__lettering-item-list-drop {
    list-style: none;
    text-align: left;
    color: var(--black-color);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 24px 0;
    cursor: pointer;
 }

 .setsail__lettering-item-list-drop-item:hover .list-drop-item-menu,
 .setsail__lettering-item:hover .setsail__lettering-item-list {
     display: block;
 }

 .setsail__lettering-item-list-drop-item {
     position: relative;
     align-items: center;
 }

 .list-drop-item-menu {
     position: absolute;
     background-color: var(--white-color);
     width: 100%;
     left: 100%;
     top: 0;
     display: none;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }

 .list-drop-item-menu-list {
     list-style: none;
 }

 i.item-list-drop-icon {
     font-size: 1.2rem;
     padding-right: 40px;
     float: right;
     line-height: 40px;
 }
/* hover drop */

/* Elements */
.setsail__lettering-elements {
    position: absolute;
    top: 100%;
    width: 1520px;
    left: -1080px;
    padding-left: 100px;
    background-color: var(--white-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.setsail__lettering-elements-header {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: left;
    padding-left: 40px;
    line-height: 70px;
}
.setsail__lettering-elements .grid__columns-3 {
    margin: 0 auto;
}
.setsail__lettering-elements-list {
    list-style: none;
    text-align: left;
    margin-bottom: 20px;
}

.setsail__lettering-elements-item {
    line-height: 40px;
    font-weight: 500;
    font-size: 1.4rem;
}

.setsail__lettering-item:hover .setsail__lettering-elements {
    display: block;
}
/* setsail  */

/* Popular */
.popular {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.popular-tour {
margin-left: 120px;
margin-right: 100px;
}

.popular-tour-header {
    font-size: 4rem;
    margin: 20px 0 36px;
    font-weight: 600;
    line-height: 1;
}

.popular-tour-description {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 30px;
    color: var(--text-color);
}

.popular-tour-chart-place {
    font-size: 1.4rem;
    font-weight: 600;
}

.popular-tour-chart-place-percent {
    font-size: 1.4rem;
    font-weight: 600;
    float: right;
}

.popular-tour-chart-row {
    height: 22px;
    width: 100%;
    background-color: #f0ede8;
    margin: 10px 0 30px;
    position: relative;
}

.popular-tour-chart-row-percent {
    position: absolute;
    height: 22px;
    background-color: var(--primary-color);
}

.popular-tour-chart-row-percent::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 22px;
    background-color: #3abdc1;
}

.popular-tour-chart-row-percent::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 22px;
    right: 0;
    background-color: #3abdc1;
}

.percent-76 {
    width: 76%;
}

.percent-92 {
    width: 92%;
}

.percent-86 {
    width: 86%;
}

/* Popular */

/* Best tour */
.best-tour-header {
    padding-top: 108px;
    color: #212121; 
}

.best-tour-header p {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 6.5rem;
    text-align: center;
    line-height: 100%;
    font-weight: 600;
}

.best-tour-header span {
    font-size: 1.8rem;
    text-align: center;
    display: block;
    width: 635px;
    margin: 0 auto 60px auto;
    line-height: 1.8;
    color: #505050;
    display: block;
    width: 100%;
}

.best-tour-place-img >div {
    position: relative;
}

.best-tour-place-img-info {
    position: absolute;
    top: calc(100% - 46px);
    font-size: 2rem;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;
}
 
.best-tour-place-img-info p {
    font-weight: 600;
    margin: 0;
}

.best-tour-place-img-link {
    width: 100%;
    transition: all 0.25s linear;
    /* Lack box-shadow */
}

.best-tour-place-img-full {
    height: 634.5px;
}

/* .best-tour-place {
    display: flex;
    justify-content: space-between;
} */

/* .best-tour-place .grid__row {
    width: 100%;
} */

.best-tour-place-img-top {
    margin-bottom: 22px;
}

a.best-tour-place-img {
    cursor: pointer;
    flex: 1;
}

.best-tour-place-img-top,
.best-tour-place-img-bottom {
    overflow: hidden;
    height: 302.5px;
}

.best-tour-place-img-full-cow {
    height: 627px;
}



.best-tour-place-img:hover .best-tour-place-img-link{
    transform: scale(1.02);
    box-shadow: 0px -5px 200px var(--black-color) inset;
}
/* Best tour */

/* Statistic */
.statistic-container {
    display: flex;
    text-align: center;
    padding: 120px 0;
}

.statistic-quanlity {
    font-size: 65px;
    font-weight: 600;
    line-height: 100%;
    margin: 40px 0 16px;
    color: var(--text-color);
}

.statistic-description {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
}

.statistic-content {
    font-size: 14px;
    font-weight: 300;
    line-height: 100%;
}

/* Statistic */

/* video */
.video {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}

.video-intro {
    width: 80%;
    border-radius: 2px;
}
/* video */

/* our tour */
.our-tour {
    display: flex;
    line-height: 1.7;
    padding-bottom: 120px;
}

.our-tour-content {
    width: 745px;
    color: var(--text-color)
}

.our-tour-heading {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
    margin-bottom: 20px;
}

.our-tour-description {
    font-size: 1.7rem;
    margin: 0 0 60px;
}

.our-tour-item-content {
    font-size: 1.4rem;
}

.our-tour-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.our-tour-item {
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    margin-bottom: 40px;
}

.our-tour-item-img {
    padding-right: 28px;
}

.our-tour-img {
    flex: 1;
    display: flex;
    justify-content: center;
}
/* our tour */

/* footer */
.footer {
    background-color: #212121;
    color: var(--white-color);
}

.footer__container {
    display: flex;
    width: 100%;
}

.footer-logo {
    width: 263px;
}

.footer-description-logo {
    display: block;
}

.footer-info {
    display: flex;
    flex-direction: column;
}
/* footer */
.footer__container {
    padding: 106px 0 78px;
}

.footer-description-logo {
    font-size: 1.7rem;
    color: #a0a0a0;
    line-height: 1.6;
    margin: 16px 0 20px;
}

.footer-info a{
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.footer-info i {
    padding-right: 10px;
    position: relative;
    top: 1px;
}

.footer-recent {
    font-size: 1.8rem;
    font-weight: 600;
}

.footer-recent-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0 ;
}

.footer-recent-item {
    margin-bottom: 6px;
}

.footer-recent-item-link {
    text-decoration: none;
    color: #a0a0a0;
    font-size: 1.4rem;
}

.footer-recent-item-link-date {
    margin-bottom: 24px;
}
.footer-recent-item-link-date a {
    color: var(--white-color);
}

.footer-subscribe {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 20px;
}

.footer-subscribe-description {
    font-size: 1.4rem;
    color: #a0a0a0;
    margin-bottom: 24px;
    display: block;
    line-height: 1.8;
}

.footer-input input {
    width: 100%;
    height: 50px;
    background-color: #595959;
    border: none;
    margin-bottom: 6px;
    outline: none;
    font-size: 1.4rem;
    padding: 12px 16px 12px 50px;
    color: var(--white-color);
}

.footer-input-name::placeholder {
    color: var(--white-color);
}

.footer-input-btn {
    border: none;
    width: 100%;
    line-height: 50px;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--white-color);
    transition: all 0.2s linear;
    cursor: pointer;
}

.footer-input-btn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.footer-input {
    position: relative;
}

.footer-input-icon {
    position: absolute;
    font-size: 1.4rem;
    top: 50%;
    transform: translateY(-70%);
    left: 20px;
}

.footer-instagram {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-instagram-description {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #a0a0a0;
}

.powered {
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 20px;
}

.powered span {
    color: #a0a0a0;
}

.powered a {
    text-decoration: none;
    color: var(--white-color);
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}